@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('https://cdn.leonardo.ai/users/20dc53a2-5c4b-4fb4-b60e-b2f6c7fc9d86/generations/87b0d183-1a62-466c-80cf-c3b4249476c7/Luna_create_a_gradient_0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}